<div class="login-container">

  <mat-card class="login-card">
    <h1>Anmeldung</h1>

    <form class="login-form">
      <mat-form-field class="login-field">
        <input matInput placeholder="Benutzername" [value]=username>
      </mat-form-field>

      <mat-form-field class="login-field">
        <input matInput type="password" placeholder="Passwort" [value]=password>
      </mat-form-field>

      <button mat-button color="primary" (click)="register()">Registrieren</button>
      <button mat-raised-button color="primary" (click)="login()">Einloggen</button>

    </form>
  </mat-card>
</div>