<div class="login-container">

  <mat-card class="login-card">

    <h1>Anmeldung</h1>

    <form class="loginForm" #loginForm="ngForm">

      <mat-form-field class="login-field">
        <input matInput required type="text" placeholder="Benutzername" [(ngModel)]="username" name="username">
      </mat-form-field>

      <mat-form-field class="login-field">
        <input matInput required type="password" placeholder="Passwort" [(ngModel)]="password" (keyup.enter)="login()" name="password">
      </mat-form-field>

    </form>

    <button mat-button color="primary" (click)="register()" [disabled]="!loginForm.form.valid">Registrieren</button>
    <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.form.valid">Einloggen</button>

  </mat-card>
  
</div>