.mat-card.drink-card {
    max-width: 250px;
    margin-left: 25px;
    display: flex;
}

.drink-card .drink-image {
    height: 250px;
}

.drink-card .drink-infos {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.drink-card .drink-infos .space-filler {
    flex: 1 1 auto;
}

.drink-card .drink-title {
    font-size: 24px;
    font-weight: 400;
}

.drink-card .drink-price {
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.drink-card .drink-actions {
    padding-left: 110px;
}
