<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profil</span>
    </button>
  </mat-menu>
  <span>{{ title }} - Getränk bezahlen</span>
</mat-toolbar>

<!-- <button mat-button color="primary" (click)="greet()">Greet</button> {{greeting}} -->

<button mat-button color="primary" (click)="loadProducts()">Load Products</button>


<mat-card *ngFor="let product of products" class="drink-card">
  <img class="drink-image" src="./assets/mate_classic.jpg" alt="Photo Flasche Mate Classic">

  <div class="drink-infos">
    <span class="drink-title">{{product.getName()}}</span>
    <span class="drink-price">{{product.getPrice()}}€</span>

    <span class="space-filler"></span>
    
    <span class="drink-actions">
      <button mat-fab>
          <mat-icon aria-label="Button Bezahlen">euro_symbol</mat-icon>
        </button>
    </span>
  </div>
</mat-card>