<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/drinks" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Drinks</span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profil</span>
    </button>
  </mat-menu>
  <span>{{ title }}</span>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- Routed views go here -->
